<!DOCTYPE HTML>
<html>
    <head>
        <title>login</title>
    </head>

    <body>
    <%include index.ejs%>
    <div class="body">
        <div class="login">
            <h1>LOG IN</h1>
            <form action="/login", method="post">
                <div id="sheet">
                E-mail:
                <input type = "email" name = "user_email" /><br />
                </div>
                <div id="sheet">
                Password:
                <input type = "password" name = "user_pwd" /><br />
                </div>
                <button class="bodybutton">Log In</button><br />
                <a class="tip">If you have no account, press </a><a class="link" href="/signup">here</a><a class="tip"> to create an account.</a>


            </form>
        </div>
    </div>

    </body>

</html>
